@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id="root"></div>
        <div id="event"></div>
    </body>
     @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/Scripts/lib/require.js", 
        "~/bundles/jsapplibs",
        "~/Scripts/main.js"
    )
</html>
